@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html body {
    height: 100vh;
    width: 100vw;
    font-family: Besley, serif;
    overflow-x: hidden;
}

body {
    background-color: #F5ECE1 ;
}

main {
    margin: 0 auto;
    max-width: 90%;
}
.header {
    background-color: #4B2E20;
    display: flex;
    margin: 0;
}

img {
    height: 100px;
    width: 100px;
}

a  .head{
    color: #FAF3E0;
}

.link {
    align-self: center;
    display: flex;
    gap: 14px;
    margin: 0 12px;
}

.right-links {
    margin-left: auto;
}

ul {
    list-style: none;
}
.main {
    display: flex; 
    margin: 15px 0;
    padding: 0 15px;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.intro {
    flex: 1 1 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.food {
   flex: 1 1 500px;
    height: auto;
    max-width: 650px;
    border-radius: 15%;
}